# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Virtual Environment
.venv/
venv/
ENV/
env/

# Deep Learning Models / Weights
weights/**
*.pth
*.pt
*.engine

# Datasets / Large Sequence Data
Data/
trash/

# IDE / Editors
.vscode/
.idea/
*.swp
*.swo
*~

# Operating System
.DS_Store
Thumbs.db
